/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.ahorcado-img {
     height: 400px;
   }
   
   button {
     margin-top: 5px;
     margin-left: 5px;
   }